.App {
  font-family: sans-serif;
  text-align: center;
}
.boton_inicio {
  width: 120px;
  height: 40px;
  margin-top: 60px;
  background-color: lightblue;
}
.boton_registro {
  width: 120px;
  height: 40px;
  margin-top: 10px;
  background-color: lightblue;
}
.textbox {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: lightblue;
  text-align: center;
  margin-block-start: -15px;
}
.textreference {
  margin-top: -10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.boton_registro {
  width: 120px;
  height: 40px;
  margin-left: 20px;
  background-color: lightblue;
}
.recordarcontraseña {
  background: none;
  border: none;
  margin-right: -20px;
  color: black;
}
.boton_inicio_formulario {
  width: 120px;
  height: 40px;
  background-color: lightblue;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-top: 20px;
}
.textbox_formulario {
  width: 300px;
}
.boton_inicio_horario {
  width: 150px;
  height: 40px;
  margin-top: 70px;
  margin-right: 5px;
  background-color: lightblue;
}

.boton_Codigo {
  width: 120px;
  height: 40px;
  margin-top: 5px;
  background-color: lightblue;
}

.boton_Codigo2 {
  width: 120px;
  height: 40px;
  margin-top: 5px;
  background-color: lightblue;
}

.boton_mascotas {
  width: 120px;
  height: 40px;
  margin-top: 10px;
  background-color: lightblue;
}
.boton_cerrar {
  width: 120px;
  height: 40px;
  margin-top: 10px;
  background-color: lightblue;
}
.boton_separacion {
  margin-right: 10px;
}
.boton_separacion2 {
  margin-left: 5px;
}
.arrows {
  margin-right: 80px;
}
.hora {
  font-size: 100px;
}
.hora_alimentacion {
  font-size: 100px;
}
.arrows2 {
  margin-right: 100px;
}
.btn2 {
  background-color: rgb(167, 2, 2);
}
